body {
    background-color: #2b2525;
    color: white;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 1em;
    padding: 10px;
}

header {
    background-color: black;
    margin: 15px 0 15px 0;
    padding: 5px;
}

footer {
    margin: 15px 0 15px 0;
    background-color: black;
}

footer p {
    max-width: none;
}

nav ul {
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
}

nav li {
    display: inline-block;
    border: 1px solid darkgreen;
    padding: 5px;
    font-family: "Consolas", "Courier New", Courier, monospace;
}

nav a {
    text-decoration: inherit;
}

nav a:link {
    color: inherit;
}

nav a:visited {
    color: inherit;
}

nav a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: green;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.1em;
}

p {
    padding: 10px;
    max-width: 1000px;
}

i {
    font-style: italic;
}

sup {
    font-size: 83%;
    vertical-align: super;
}

a:link {
    color: #2f72ff
}

a:visited {
    color: #9e57ff
}

ul, ol {
    display: block;
    margin: 1em 0;
    padding: 0 0 0 40px;
}

ul {
    list-style: disc inside;
}

ol {
    list-style: decimal inside;
}

ul ul, ol ul {
    list-style-type: circle;
    margin-left: 15px;
}

ol ol, ul ol {
    list-style-type: lower-latin;
    margin-left: 15px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid white;
    vertical-align: middle;
    text-align: center;
}

th, td {
    padding: 3px;
}

th {
    font-weight: bold;
}

fieldset {
    margin: 5px;
    padding: 5px;
    border: solid darkcyan;
}

legend {
    font-family: "Consolas", "Courier New", Courier, monospace;
    color: green;
}

.monospace {
    font-family: "Consolas", "Courier New", Courier, monospace;
}

.social_icon {
    width: 24px;
    margin: 12px; /* Required to be half the width as per the rules of these logos */
}

.icon {
    width: 64px;
}

.icon_container {
    vertical-align: middle;
    display: inline-block;
}

.header_icon_container {
    vertical-align: middle;
}

.title {
    text-align: center;
}

.indent {
    margin: 15px;
}

@media only screen and (min-width: 460px) {
    .title {
        display: inline;
        line-height: 64px;
        vertical-align: middle;
        text-align: left;
    }
    .header_icon_container {
        display: inline-block;
    }
}

@media only screen and (min-width: 720px) {
    /* For tablets */
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.5em;
    }

    h5 {
        font-size: 1.3em;
    }

    h6 {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 1400px) {
    /* For desktops */
    h1 {
        font-size: 6em;
    }

    h2 {
        font-size: 4em;
    }

    h3 {
        font-size: 3em;
    }

    h4 {
        font-size: 2em;
    }

    h5 {
        font-size: 1.5em;
    }

    h6 {
        font-size: 1.2em;
    }
}
