body {
    background-color: #2b2525;
    color: white;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 1em;
    padding: 10px;
}

h1 {
    font-size: 6em;
    color: green;
}

.monospace {
    font-family: "Consolas", "Courier New", Courier, monospace;
}
