/*body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #282c34;
    color: #ffffff;
}*/

#countdown {
    display: flex;
    gap: 20px;
}

.time-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-section span {
    font-size: 2em;
    font-weight: bold;
}

.time-section p {
    margin: 0;
    font-size: 1em;
}

